<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
	This was made using a tutorial, however if you would like to contact
	the author, please email <a href="mailto:rgpass@gmail.com">me</a>.
</p>

<p>
	Other notes:
	<ul>
		<li>Install PostgreSQL on your computer. Link can be found in the Coding bookmarks folder</li>
		<li>Go back to Chapter 3 and do the advanced exercise and also install Guard and Spork.</li>
		<li>When done with this guide, purchase the books Beginning Ruby, The Well-Grounded Rubyist, or The Ruby Way.</li>
	</ul> 
</p>