@import "bootstrap";

/* mixins, variables, etc. */
/* Sass (.scss) allows us to define variables and also */
/* organize things in a hierarchial matter */
$lightGray: #999;
$grayMediumLight: #eaeaea;

/* mixins allow CSS rules to be used across multiple elements -- DRY princiciple */
@mixin box_sizing {	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



/* Also Bootstrap's page of LESS variables defines some */
/* Example: $grayLight is already set to $grayLight = #999 */

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {								/* Can do this because it's a Sass file */
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $lightGray;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {				/* Also possible because of Sass */
		color: #fff;	/* the & means to take the parent, in this */
		text-decoration: none;	/* case this becomes #logo:hover */
	}
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

/* footer */
/* All of these are done in Sass (.scss) formatting */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $lightGray;
	a {
		color: $gray;	/* Already defined by Bootstrap */
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}